<html
  lang="en"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
>

  <head>
    <title>CetizenCare</title>
  </head>

  <body
    style="background-color: #f9f9f9; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;"
  >
    <div
      style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2"
    >
      <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
          <a
            href=""
            style="font-size:1.4em;color: #00466A;text-decoration:none;font-weight:600"
          >CetizenCare</a>
        </div>
        <p style="font-size:1.1em">Hi,</p>
        <p>Hope you are doing well. Use the following OTP to complete your
          verification.</p>
        <p
          style="background: #00466A;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"
        >{{message}}</p>
        <p style="font-size:1.1em">OTP is valid for 5 minutes</p>
        <p style="font-size:0.9em;">Regards,<br />CetizenCare</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div
          style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300"
        >
          <p>CetizenCare LLP</p>
        </div>
      </div>
    </div>
  </body>

</html>